<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/base.css">
    <title>Java General Purpose webserver</title>
</head>
<body>
    <header>
        <img src="img/logo.png">
        <label>Java General Purpose Webserver</label>
        <nav>
            <div><a href="/">Home</a></div>
            <div><a href="/documentation">Documentation</a></div>
            <div><a href="/downloads">Downloads</a></div>
        </nav>
    </header>
    <div id="content">
        Variable test: $test;
    </div>
</body>
</html>