body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    background-color: rgb(128, 199, 223);
    color: white;
    width: 100%;
    height: 6vh;
    font-size: 1.3em;
    text-indent: 8px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content{
    width: 75%;
    height: 93vh;
    margin: 0 12.5%;
    box-shadow: -1px 0px 4px grey, 1px 0px 4px grey;
    padding: 5px;
}

#content h2{
    text-align: center;
}
